<!-- SIMPLEST POSSIBLE TEMPLATE TEST -->
<div>HOME TEMPLATE WORKING</div>

<p style="background: blue; color: white; padding: 10px;">
  Simple blue test content from Angular template
</p>
    <p style="color: #666; font-size: 16px;">Your smart food companion</p>
    
    <ion-button expand="block" color="primary" style="margin: 10px 0;">
      <ion-icon name="search" slot="start"></ion-icon>
      Search for Food
    </ion-button>
    
    <ion-button expand="block" fill="outline" color="primary" style="margin: 10px 0;">
      <ion-icon name="list" slot="start"></ion-icon>
      Browse All
    </ion-button>
  </div>
</ion-content>
